* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
}

#wrapper header,
#wrapper footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #1342c9;
    border: 10px solid #0b0b54;
    padding: 10px;
    color: #ffffff;
}

#wrapper main {
    width: 600px;
    box-sizing: content-box;
    margin: 10px 5px 20px;
    background-color: #dad042;
    border: 25px solid #4a5b2d;
    padding: 10px;
}