
.game-field {
    display: inline-block;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}
.row {
    display: flex;

}
.cell {
    width: 100px;
    height: 100px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.cell>img {
    max-height: 100%;
    object-fit: cover;
}

.barrier {
    max-width: 50%;

}