* {
    margin: 0;
    padding: 0;
}
.base-bgc {
    background-color: rgba(68,68,68,0.5);
    height: 300px; /*Вопрос к размышлению: обячзательно ли задавать высоту родительскому элементу? Он подскакивает как при float */
    padding: 20px;
    position: relative;
    z-index: 0;
}

.container {
    width: 600px;
    margin: 0 auto;
}
.under-fixed {
    background-color: #ff94ad;
    padding-top: 180px;
    height: 700px;
    width: 640px; /* 600 container + 40 px паддинги, чтоб не задавать блокам  box-sizing: border-box; */

}
.top {
    position: sticky; /* почему на него сверху наезжает релатив блок? Ответ - надо установить z-index */
    /*margin: 0 auto;*/
    top: 0; /* Устанвление position: sticky; позволяет позиционировать элемент в общем потоке (посредине например) и условие позиционирования, например, top: 0; - это лучше, чем fix*/
    z-index: 1; /* У какого элемента больше значение, тот будет отображаться НАД остальными, у которых это значение меньше */
    background-color: #d0d;
    padding: 20px;
    text-align: center;
}
.top a {
    font-size: 16px;
    color: black;
    margin: 15px;
    text-decoration: none;
}
.lower {
    position: absolute;
    left: 30px;
    top: 50px;
    /*width: 300px;*/
    padding: 10px;
    border: 1px solid #004;
    background-color: rgb(0,0,127);
    opacity: 1;
    /*z-index: 1.2;*/
}
.upper {
    position: absolute;
    right: 30px;
    bottom: 40px;
    width: 350px;
    padding: 10px;
    border: 1px solid #0000ff;
    z-index: -1; /* чтоб разместить под родительский элемент или ранее идущий элемент с position: absolute; указывается отрицательный z-index: */
    background-color: rgba(0,0,0,1); /* влияет только на один аспект цвета элемента, другие аспекты (цвет шрифта, картинка, рамка) остаются яркими */
    opacity: 1;  /* (0-прозрачный, 1-полностью непрозрачный) влияет на весь элемент, является свойством (http://thenewcode.com/239/Whats-The-Difference-Between-opacity-and-rgba)*/
}
.lower, .upper p {
    font-size: 18px;
    text-align: justify;
    color: #fff;
}
.upper img {
    width: 80px;
    float: right;
}

/* пример с кнопкой  http://shpargalkablog.ru/2013/12/border.html#inset Непонятно зачет здесь нужны z-index:, они не работают*/
.itog5 {
    position: relative;
    /*z-index: 1;*/
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 9px;
    background: linear-gradient(#ec5d5d, #ac0908);
}
.itog5:after {
    content: "";
    position: absolute;
    /*z-index: -1;*/
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 5px;
    border: yellow dashed 1px;
}

/* Советы по использованию свойства z-index
1. Если можно не использовать z-index, то лучше его не использовать и, например, сразу в HTML коде разместить теги в требуемом порядке.
2. Если z-index всё же нужен, скажем, для выпадающего меню, то значений 0, 1, 2, 3, 4, 5 вполне достаточно в большинстве случаев, не нужно переходить на десятки, а то и сотни.
3. Если z-index не работает, то нужно подняться вверх по дереву DOM, чтобы понять где контекст наложения.
Примечание: IE 6-7 рассматривает значение auto как 0 и всем position не static создаёт контекст наложения. */