* {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1070px;
    margin: 0 auto;
}
.gallery {
    display: flex;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    flex-direction: column;
}

.gallery__row-wrap {
    display: flex;
    row-gap: 30px;
    justify-content: space-between;
}
.gallery-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
}

.gallery__item {

}
.gallery__title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 25px;
}
.gallery__logo {
    align-self: center;
}
.gallery__subtitle {
    font-size: 9px;
    text-transform: uppercase;
    align-self: center;
    margin-top: 10px;
}
.gallery__sec-row-wrap {
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    margin-top: 30px;
}
.gallery__column-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resto {
    background: linear-gradient(#ffffff 50%,  #E5E5E5 50%);
    padding: 124px 0 90px;
}
.resto__wrap {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.resto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.resto__logo {
    align-self: center;
}
.resto__title {
    font-size: 36px;
    margin-bottom: 25px;
}
.resto__subtitle {
    font-size: 9px;
    margin-top: 10px;
}
.resto__video {
    justify-self: center;
    border: 6px solid #ffffff;
    box-shadow: 2px 2px 15px #9f9f9f;
    margin-bottom: 90px;
}

.resto__info-row-wrap {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    width: 100%;
}
.resto__info-left-wrap {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.resto__logo {
    justify-self: center;
}
.resto__logo-left {
    margin-bottom: 23px;
    align-self: center;
}
.resto__info-title-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.resto__info-title {
    margin-left: 27px;
    justify-self: flex-start;
    font-size: 16px;
    text-transform: uppercase;
}
.resto__info-text {
    font-size: 14px;
    text-align: left;
    color: #616161;
    margin-top: 10px;
}

.resto__info-right-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    max-width: 550px;
}
.resto__info-block {
    width: 255px;
}

/*.gallery__item:not(:last-child) {*/

/*}*/
/*.gallery__item-big-size {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    margin-left: 0;*/
/*}*/
/*.gallery__wrap {*/
/*    display: flex;*/

/*}*/
/*.gallery__wrap-2 {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*!*.gallery__item  + .gallery__item {*!*/
/*!*    margin-left: 20px;*!*/
/*!*}*!*/

/*!** {*!*/
/*!*    margin: 0;*!*/
/*!*    padding: 0;*!*/
/*!*    font-family: sans-serif;*!*/
/*!*}*!*/
/*!*.container {*!*/
/*!*    margin: 0 auto;*!*/
/*!*}*!*/
/*!*header {*!*/
/*!*    background-color: #20d8ac;*!*/
/*!*    padding: 70px 0 50px;*!*/
/*!*    color: white;*!*/
/*!*    text-align: center;*!*/
/*!*}*!*/
/*!*h2 {*!*/
/*!*    font-size: 30px;*!*/
/*!*    margin-bottom: 20px;*!*/
/*!*    text-transform: capitalize;*!*/
/*!*}*!*/
/*!*p {*!*/
/*!*    font-size: 16px;*!*/
/*!*    margin-bottom: 15px;*!*/
/*!*}*!*/
/*!*.nav-block {*!*/
/*!*    background-color: #000000;*!*/
/*!*}*!*/
/*!*.nav-block > ul {*!*/
/*!*    display: flex;*!*/
/*!*    padding: 10px;*!*/
/*!*}*!*/
/*!*.nav-block li {*!*/
/*!*    padding: 0 15px;*!*/
/*!*}*!*/
/*!*.nav-block a {*!*/
/*!*    color: #ffff;*!*/
/*!*    text-decoration: none;*!*/
/*!*    text-transform: capitalize;*!*/
/*!*}*!*/
/*!*.body-section {*!*/
/*!*    display: flex;*!*/
/*!*}*!*/
/*!*.flex-container {*!*/
/*!*    display: flex;*!*/
/*!*    flex-direction: column;*!*/
/*!*    justify-content: flex-end; !* для колонок выравнивает по нижнему краю *!*!*/
/*    padding: 30px 20px 15px 20px;*/
/*}*/
/*.aside-section {*/
/*    background-color: #d5d5d5;*/
/*    flex-basis: 33%;*/
/*}*/
/*.aside-section > h3 {*/
/*    font-size: 25px;*/
/*    margin-bottom: 20px;*/
/*    text-transform: capitalize;*/
/*}*/
/*img {*/
/*    width: 100%;*/
/*    height: 300px;*/
/*}*/
/*.main-section {*/
/*    background-color: #eaeaea;*/
/*    flex-basis: 77%;*/
/*}*/
/*.main-section > h2 {*/
/*    text-transform: uppercase;*/
/*}*/

/*.flex-container {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    background-color: #fdffbd;*/
/*    display: flex;*/
/*}*/

/*.o1 {*/
/*    !*flex-direction: column;*!*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    !*justify-content: space-around;*!*/
/*    !*align-items: center;*!*/
/*    !*align-content: flex-start;*!*/
/*    flex-wrap: nowrap;*/
/*}*/
/*.o2 {*/
/*    flex-direction: row-reverse;*/
/*    justify-content: space-around;*/
/*}*/
/*.o3 {*/

/*}*/
/*.o4 {*/
/*    flex-direction: column-reverse;*/
/*    align-items: flex-end;*/
/*}*/
/*.o5 {*/
/*    height: 1000px;*/
/*    flex-direction: column-reverse;*/
/*    align-items: stretch;*/
/*}*/

/*!*.block1, .block2, .block3, .block4 {*!*/
/*!*    width: 100px;*!*/
/*!*    !*height: 70px;*!*!*/
/*!*    border: 1px solid white;*!*/
/*!*}*!*/

/*!*.block1 {*!*/
/*!*    background-color: #ff4a62;*!*/
/*!*    !*height: 130px;*!*!*/
/*!*    !*order: 3;*!*!*/
/*!*    !*flex-grow: 0.5;*!*!*/
/*!*}*!*/
/*!*.block2 {*!*/
/*!*    background-color: #ff20c6;*!*/
/*!*    !*align-self: center;*!*!*/
/*!*    !*order: 4;*!*!*/
/*!*    !*flex-shrink: 1.5;*!*!*/
/*!*}*!*/
/*!*.block3{*!*/
/*!*    background-color: #5f48ff;*!*/
/*!*    height: 120px;*!*/
/*!*    align-self: center;*!*/
/*!*    !*order: 1;*!*!*/
/*!*    !*flex-grow: 0.2;*!*!*/
/*!*}*!*/
/*!*.block4 {*!*/
/*!*    background-color: #17694e;*!*/
/*!*    !*align-self: flex-end;*!*!*/
/*!*    !*order: 2;*!*!*/
/*!*}*!*/