.cards {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.card {
    width: 250px;
    border: 1px solid #7e5edf;
    border-radius: 7px;
    padding: 15px;
    margin: 10px;
}
.card__title {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    border-bottom: 1px solid #7e5edf;
    padding-bottom: 10px;
}

.card__text {
    text-align: justify;
}