
.container {
    width: 1200px;
    padding: 30px 0;
    margin: 0 auto;
    border: 1px dotted #1209c6;
    overflow: hidden;
}

/* Упражнение 2 */
h2 {
    font-size: 30px;
    font-weight: 700;
}
.header-nav {
    display: block;
    overflow: hidden; /* Расширяем родителя */
    background-color: #000000;
}
.header-nav-item {
    float: left;
    padding: 10px 15px;
}
.header-nav-item a {
    font-family: serif;
    font-size: 18px;
    color: #ffffff;
}
.header-nav-item:active {
    background-color: #ff0c0e;
}

/* Упражнение 1 */

.img-container {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 24%;
    padding: 5px;
    margin: 6px;
    border: 2px solid #b1b2b7;
    text-align: center;
}
.img-container:hover {
    border: 2px solid #000000;
}
.img-container img {
    width: 100%;
}
.img-container p {
    padding: 10px;
    font-size: 16px;
    color: #000;
}

/* Exercise 3*/

.float-3 {
    padding: 20px 0;
    text-align: center;
}
.float-3 p {
    font-size: 20px;
    padding-top: 30px;
}
.header-3-1 {
    clear: both; /* Убирает floats, чтоб следующий блок не наезжал на элементы с float, расположенные выше */
    height: 100px;
    background-color: #5450ff;
}
.content-3-1 {
    clear: both; /* Убирает floats, чтоб следующий блок не наезжал на элементы с float, расположенные выше */
    height: 200px;
    background-color: #fff942;
}
.footer-3-1 {
    height: 60px;
    clear: both; /* Убирает floats, чтоб следующий блок не наезжал на элементы с float, расположенные выше */
    background-color: #731b2e;
}

.content-3-column {
    float: left;
    height: 200px;
}

.header-3 {
    float: left;
    height: 100px;
    background-color: #5450ff;
}
.per75 {
    width: 75%;
}
.per33 {
    width: 33.3%;
}
.per25 {
    width: 25%;
}
.per50 {
    width: 50%;
}
.height60 {
    height: 60px;
    clear: both; /* Убирает floats, чтоб CONTENT 2-top и CONTENT 2-bottom расположить один под другим  */
}
.height140 {
    height: 140px;
    clear: both; /* Убирает floats, чтоб CONTENT 2-top и CONTENT 2-bottom расположить один под другим  */
}

.side-bar {
    float: left;
    height: 300px;
    background-color: #ffa07f;
}


/*  Упражнение 4   */

.exc4 {
    padding: 30px 10px;
    background-color: #67686d;
}
.font-serif {
    font-family: serif;
}
.exc4 h2 {
    color: #ffffff;
    font-size: 35px;
}
.main-content {
    overflow: auto;  /* заполняем блок родителя */
    /*clear: both;*/  /* не нужно, вокруг нет элементов с float */
    padding-top: 20px;
}
.side-bar-exc4 {
    float: left;
    width: 24%;
}
.side-bar-exc4-item {
    margin: 5px 0;
    padding: 10px 5px;
    background-color: #20a8d5;
}
.side-bar-exc4-item a {
    color: #ffffff;
    font-size: 16px;
}
.text-content {
    box-sizing: border-box;
    float: right;
    width: 75%;
    padding-left: 10px;
}
.text-content h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}
.text-content p {
    font-size: 20px;
    padding-bottom: 15px;
}
.footer-exc4 {
    background-color: #67686d;
    padding: 20px 10px;
    font-size: 16px;
    color: #cacbd0;
}