.big-img-container {

}
.img-container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 16%;
}
.big-img {
    width: 1000px;
}

.popup-wrap {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.popup-wrap_active {
    display: flex;
}
.popup {
    width: 450px;
    padding: 15px 25px;
    border-radius: 7px;
    background-color: #fff;
    position: relative;
    z-index: 100;
}

.close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all 0.2s ease;
}
.close::after, .close::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg) translateY(-50%);
}
.close::before {
    transform: rotate(-45deg) translateY(-50%);
}
.close:hover {
    transform: scale(1.2);
    cursor: pointer;
}
