* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
section {
    padding: 70px 0;
}
.page-header-bg {
    background: url("../img/landing_page_sertiz_intro.jpg");
    background-size: cover;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.page-header {
    padding-top: 500px;
    padding-bottom: 140px;
}
.page-head-title {
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
}
.page-head-subtitle {
    margin-bottom: 22px;
    font-size: 18px;
    color: #ffffff;
}
.page-head-slogan {
    display: inline-block;
    padding: 35px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
}

.text-block {
    padding: 60px 0;
    text-align: center;
}
.text-block-title {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 28px;
    color: #333333;
}
.text-block-subtitle {
    margin: 28px 0 40px;
    font-size: 17px;
    color: #4D4943;
}
.web-award-img {
    text-align: center;
}
.top-little-slogan {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
    font-size: 28px;
    text-transform: uppercase;
}
.top-nav-bar {
    display: inline-block;
    margin-left: 240px;
}
.top-nav-bar-link {
    padding: 0 30px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #3D3D3D;
}

.business-consulting-block {
    padding: 10px 0 50px;
}
.business-consulting-block-collage {
    width: 50%;
    float: left;
}
.business-consulting-block-collage-item {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 25px 22px 0;
    width: 260px;
    height: 150px;
    padding-top: 95px;
    padding-left: 15px;
    background-size: cover;
}
.collage-item-legend {
    display: inline-block;
    box-sizing: border-box;
    width: 120px;
    padding: 12px 0 12px 15px;
    font-size: 14px;
    color: #ffffff;
    background-color: #333333;
    text-transform: capitalize;
    text-decoration: none;
}
.business-consulting-text-block {
}
.business-consulting-text-block-title {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
}
.business-consulting-text-block-text {
    font-size: 14px;
    padding-bottom: 30px;
    line-height: 1.2;
}
.business-consulting-text-block-button {
    display: inline-block;
    vertical-align: bottom;
    padding: 19px 22px;
    background-color: #F1AD1D;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    color: #ffffff;
}

.speedometer-section-bgi {
    background-image: url("../img/speedometer-bgi.png");
    background-size: cover;
    margin-bottom: 50px;
}
.speedometer-section {
    padding: 150px 0;

    text-align: center;
}
.title-on-bgi {
    margin-bottom: 59px;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.team-collage {
    text-align: justify;
    padding: 0;
}
.team-collage-item {
    display: inline-block;
    box-sizing: border-box;
    margin: 1px;
    background-size: cover;
    width: 195px;
    height: 178px;
    padding: 119px 0 14px 12px;
    text-align: left;
}

.yellow-line {
   /* margin: 22px auto; дальше над линиями есть тексты, другие обьекты с таким отступом */
    display: inline-block;
    text-align: center;
    background-color: #F1AD1D;
    height: 3px;
    border: none;
    /* вариант из оригинала классной работы
    /*width: 61px;*/
    /*border-top: 4px solid #F1AD1D;*/
    /*margin: 50px auto 0;*/
}

.length-62 {
    width: 62px;
}
.length-1170 {
    width: 1170px;
}
.yellow-letter-accent {
    color: #F48E0B;
}
.mr-40 {
    margin-right: 40px;
}