.btn {
  width: 100px;
  height: 50px;
  border:  1px solid #000000;
  border-radius: 4px;
  font-size:  18px;
  background-color: #96e9ff;
}

.btn_beautiful {
  cursor: pointer;
  background-color: #ac5bff;
  box-shadow:  10px 10px 5px 0 #5b84ff;
  &:hover {
    background-color: #d5ff8d;
    box-shadow:  10px 10px 5px 0 #445e80;
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: #ff605a;
  &_active {
    background-color: #0bff6a;
  }
}