$test-var: #6173ff;

@mixin transform($size) {
  transform: scale($size);
}

.test {
  background-color: $test-var;
}
ul {
  list-style: none;
  li {
    font-size: 16px;
  }
}

.list {
  list-style: none;
  &__item {
    font-size: 16px;
    &__scale {
      @include transform(2);
    }
  }
}

@import "./nav";

.btn {
  font-size: 16px;
  width: 150px;
  border: 1px solid #000000;
}

.btn_green {
  @extend .btn;
  color: #6173ff;
}