body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.header-flex-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.header-logo {
    margin: 60px 0;
}
.header-nav-flex-wrap {
    display: flex;
}
.header-nav-item {
    margin: 0 15px;
}
.header-nav-link {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header-nav-main {
     padding: 7px 11px;
     border: 1px solid rgba(209, 169, 84, 0.9);
     color: #D1A954;
     font-weight: 400;
}
.header-nav-link:hover {
    color: #D1A954;
}
.header-nav-main:hover {
    font-weight: 400;
    letter-spacing: 1px;
}
.header-open-menu {
    width: 40px;
    border: 1px solid transparent;
    border-bottom: 1px solid #000000;
}
.header-open-menu::before {
    content: '';
    position: absolute;
    top: 95px;
    width: 40px;
    border: 1px solid transparent;
    border-bottom: 1px solid #000000;
}
.header-open-menu::after {
    content: '';
    position: absolute;
    top: 110px;
    width: 40px;
    border: 1px solid transparent;
    border-bottom: 1px solid #000000;
}

.offer-section-grid-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.offer-bgi1 {
    background: url("../img/Header_1.png") center no-repeat;
    background-size: cover;
}
.offer-bgi2 {
    background: url("../img/Header_2.png") center no-repeat;
    background-size: cover;
}
.offer-bgi3 {
    background: url("../img/Header_3.png") center no-repeat;
    background-size: cover;
}
.offer-section-item {
    display: grid;
    grid-template-rows: 484px 166px;
}
.offer-section-item-description {
    grid-area: 2;
    padding: 15px;
    background: rgba(209, 169, 84, 0.9);
    color: #ffffff;
}
.border-wrap {
    display: grid;
    grid-row-gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
 }
.offer-section-item-title {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    justify-self: center;
    margin-top: 20px;
}
.offer-section-item-subtitle {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    justify-self: center;
    text-align: center;
    margin-bottom: 22px;
}

                /*RESTO SECTION*/

.resto {
    background: linear-gradient(#ffffff 45%,  #E5E5E5 45%);
}
.resto-wrap {
    display: flex;
    justify-content: center;
    margin: 65px auto 120px;
}
.slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-flex-wrap {
    width: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 106px;
    align-items: center;
    position: relative;
}
.slider-move-reflection {
    width: 24px;
    position: absolute;
    left: 76px;
    border: 1px solid transparent;
    border-bottom: 1px solid #000000;
}
.slider-base {
     width: 144px;
     border: 1px solid transparent;
     border-bottom: 1px solid #E5E5E5;
 }
.slider-previous {
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    transform: rotate(40deg);
}
.slider-next {
    width: 8px;
    height: 8px;
    right: 455px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    transform: rotate(-134deg);
}
.slider-items-wrap {
    border: 6px solid #ffffff;
    box-shadow: 2px 2px 15px #9f9f9f;
    width: 920px;
    overflow: hidden;
    margin-bottom: 90px;
}
.slider-track {
    display: flex;
}
.slider-item {
     width: 100%;
     min-width: 920px;
     height: 480px;
     object-fit: cover;
 }

.resto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
}
.resto-title {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #222222;
}
.resto-subtitle {
    font-size: 9px;
    text-transform: uppercase;
    margin-top: 10px;
}



/*Нижняя часть*/
.resto-info-row-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.resto-info-left-wrap {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.resto-logo-left {
    margin-bottom: 23px;
    align-self: center;
}
.resto-info-title-wrap {
    display: flex;
    align-items: center;
}
.info-title {
    margin-left: 27px;
    font-size: 16px;
    text-transform: uppercase;
}
.info-text {
    font-size: 14px;
    color: #616161;
    margin-top: 10px;
    line-height: 1.2;
}
.resto-info-right-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    max-width: 550px;
}
.resto-info-block {
    width: 255px;
}

                /* GALLERY SECTION */

.gallery {
    width: 100%;
    max-width: 1110px;
    margin: 120px auto;
}
.gallery-row-wrap {
    display: flex;
    justify-content: space-between;
}
.gallery-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
}
.gallery-title {
    font-size: 30px;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 25px;
}
.gallery-logo {
    align-self: center;
}
.gallery-subtitle {
    font-size: 9px;
    text-transform: uppercase;
    align-self: center;
    margin-top: 10px;
}
.gallery-second-row-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.gallery-column-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

                /* KNOW MORE SECTION */

.know-more-section {
    background: url("../img/bgi_Know_more.png") no-repeat;
    background-size: cover;
    padding: 120px 0;
}
.know-more-section-flex-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.know-more-section-title {
    color: #ffffff;
    margin-bottom: 70px;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}
.button-flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 610px;
}
.know-more-section-button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0;
    width: 255px;
}

                   /* CONTACT & FORM SECTION  */

.contact-form-section {
    margin: 120px auto;
}
.contact-form-section-grid-wrap {
    display: grid;
    justify-content: space-between;
}
.contact-section-grid-wrap {
    display: grid;
    width: 540px;
    gap: 30px;
}
.contact-section-title {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.5;
}
.contact-grid-wrap {
    display: grid;
    column-gap: 15px;
}
.contact-left-grid-wrap {
    display: grid;
    gap: 30px;
}
.contact-right-grid-wrap {
    grid-area: 1 / 2;
    display: grid;
    gap: 30px;
}
.contact-grid-title {
    grid-area: 1 / span 2;
}
.icon-address {
    grid-area: 2 / 1;
}
.icon-phone {
    grid-area: 3 / 1;
}
.icon-email {
    grid-area: 4 / 1;
}
.link-address {
    grid-area: 2 / 2;
    text-decoration: underline;
}
.link-phone {
    grid-area: 3 / 2;
}
.link-email {
    grid-area: 4 / 2;
}
.contact-link {
    font-size: 14px;
    color: #616161;
}
.form-section {
    grid-area: 1 / 2;
    width: 540px;
}
.form-section-grid-wrap {
    display: grid;
}
.form-data {
    margin: 0 0 12px;
    padding: 13px 0;
    border: 1px solid transparent;
    border-bottom: .5px solid #D0D0D0;
}
.form-data-textarea {
    margin: 35px 0;
    padding: 15px;
    border: .5px solid #D0D0D0;
}
::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.form-data:focus {
    box-shadow: 0 5px 10px rgba(132, 132, 132, 0.7);
    padding-left: 5px;
    background-color: #D1A954;
    outline: none;
    color: #ffffff;
}
.submit-btn {
    padding: 13px 0;
    width: 185px;
    background-color: #D1A954;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}

            /* INSTAGRAM SECTION  */

.our-instagram-section {
    padding-top: 120px;
    background-color: #E5E5E5;
}
.instagram-collage-grid-wrap {
    margin: 90px auto 0;
    display: grid;
    grid-template-columns: repeat(6, auto);
}

            /* FOOTER */

.footer-grid-wrap {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    margin: 40px auto;
}
.footer-text {
    font-size: 14px;
}