.test {
  background-color: #6173ff; }

ul {
  list-style: none; }
  ul li {
    font-size: 16px; }

.list {
  list-style: none; }
  .list__item {
    font-size: 16px; }
    .list__item__scale {
      transform: scale(2); }

.nav {
  color: red;
  font-size: 16px;
  font-weight: 700; }

.btn, .btn_green {
  font-size: 16px;
  width: 150px;
  border: 1px solid #000000; }

.btn_green {
  color: #6173ff; }
