body {
    margin: 0;
    padding: 0;
}

.div {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background-color: #acacac;
    animation: bounce 3s infinite linear;
    animation-direction: alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(550px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(450px);
    }
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 100px;
    display: flex;
    justify-content: center;
    align-items: center; /* Вся суть параллакса в этом блоке */
}
.parallax__layot {
    position: absolute;
    /*width: 100px;*/
    /*height: 100px;*/
    /*margin: auto;     ПОЗВОЛЯЕТ ОТЦЕНТРИРОВАТЬ ЭЛЕМЕНТ ПО ВЕРТИКАЛИ И ГОРИЗОНТАЛИ*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*background-color: #dd00dd;*/
}
.parallax__item {
    font-size: 45px;
}
.parallax__layot-base {
    transform: translateZ(-.5px);   /* ЧЕМ ДАЛЬШЕ ЭЛЕМЕНТ, ТЕМ МЕНЬШЕ ЭТО ЗНАЧЕНИЕ И ОН ДВИГАЕТСЯ МЕДЛЕННЕЕ */
}
.parallax__layot-back {
    transform: translateZ(0);
}

.parallax__layot-base2 {
    transform: translateZ(10px);   /* ЧЕМ ДАЛЬШЕ ЭЛЕМЕНТ, ТЕМ МЕНЬШЕ ЭТО ЗНАЧЕНИЕ И ОН ДВИГАЕТСЯ МЕДЛЕННЕЕ */
}
.parallax__layot-back2 {
    transform: translateZ(.5px);
}

.parallax__group {
    transform: translateZ(-1px);
}
.parallax__item2 {
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); /* ПОЗВОЛЯЕТ СВДИНУТЬ ЭЛЕМЕНТ, ЧТОБ ЦЕНТР НАХОДИЛСЯ ПОСРЕДИНЕ ДИСПЛЕЯ */
}

/** {*/
/*    font-family: 'Arimo', sans-serif;*/
/*}*/
/*.table {*/
/*    border: 20px solid #3A4965;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    table-layout: fixed;*/
/*    color: #484848;*/
/*}*/
/*.table__header, .table__cell {*/
/*    !*box-shadow: -1px 0 1px rgba(128, 128, 128, 0.3);  не видит Экспл и Эдж*!*/
/*    border-left: 1px solid rgba(128, 128, 128, 0.3);*/
/*    width: 280px;*/
/*    padding: 25px 0 19px;*/
/*}*/
/*.table__header:first-child, .table__row:first-child {*/
/*    width: 313px;*/
/*    color: #484848;*/
/*    font-size: 20px;*/
/*}*/
/*.fz30px {*/
/*    font-size: 30px;*/
/*    font-weight: 700;*/
/*}*/
/*.fz24px {*/
/*    font-size: 24px;*/
/*    font-weight: 700;*/
/*}*/
/*.table__header:first-child,.table__row:first-child {*/
/*    background-color: #FAFAFA;*/
/*    font-size: 18px;*/
/*    font-weight: 700;*/
/*}*/
/*.table__row:first-child {*/
/*    color: #ffffff;*/
/*}*/

/*.table__body .table__row:first-child {*/
/*    color: #484848;*/
/*    font-weight: 400;*/
/*}*/
/*.table__row:last-child .table__cell:first-child{*/
/*    background-color: #dddddd;*/
/*}*/
/*.lime-color {*/
/*    background-color: #89C331;*/
/*}*/
/*.pink-color {*/
/*    background-color: #F04A56;*/
/*}*/
/*.teal-color {*/
/*    background-color: #20807C;*/
/*}*/
/*.table__row:nth-child(2n) {*/
/*    background: #E3E3E3; !*темнее *!*/
/*}*/
/*.table__row:nth-child(2n+1) {*/
/*    background: #F2F2F2; !*светлее *!*/
/*}*/
/*.price-cell {  !* = tr:nth-child(2) td:nth-child(n+1)*!*/
/*    background-color: #FAFAFA;*/
/*    text-align: left;*/
/*    padding-bottom: 5px;*/
/*    padding-left: 35px;*/
/*}*/
/*.price-cell-dollar {*/
/*    padding: 36px 0 0 36px;*/
/*    background-color: #FAFAFA;*/
/*    width: auto;*/
/*    text-align: right;*/
/*    font-size: 60px;*/
/*    font-weight: 700;*/
/*}*/
/*.price-cell-cent {*/
/*    border-left: 1px solid #5b5b5b;*/
/*    border-bottom: 1px solid #5b5b5b;*/
/*    background-color: #FAFAFA;*/
/*    padding-top: 0;*/
/*    text-align: left;*/
/*    vertical-align: bottom;*/
/*    font-size: 24px;*/
/*    font-weight: 700;*/
/*}*/
/*.price-per-month {*/
/*    background-color: #FAFAFA;*/
/*    border-left: 1px solid #5b5b5b;*/
/*    padding-top: 0;*/
/*    font-size: 18px;*/
/*    font-weight: 400;*/
/*    vertical-align: top;*/
/*    text-align: left;*/
/*}*/


/*.icon {*/
/*    margin-right: 10px;*/
/*}*/
/*.button {*/
/*    display: inline-block;*/
/*    width: 195px;*/
/*    box-sizing: border-box;*/
/*    border-radius: 5px;*/
/*    padding: 16px 0 5px;*/
/*    font-size: 16px;*/
/*    color: #ffffff;*/
/*}*/
/*.black-color {*/
/*    background-color: #484848;*/
/*    border-bottom: 9px solid #404040;*/
/*}*/
/*.lime-bottom {*/
/*    border-bottom: 9px solid #79B027;*/
/*}*/
/*.pink-bottom{*/
/*    border-bottom: 9px solid #DF3A46;*/
/*}*/
/*.teal-bottom {*/
/*    border-bottom: 9px solid #16736F;*/
/*}*/



/*.table {*/
/*    border-collapse: collapse;*/
/*    text-align: center;*/
/*    width: 400px;*/
/*    table-layout: fixed; !* Если auto  - Запись 6 в последней таблицу расширится под содержимое *!*/
/*}*/
/*th, td {*/
/*    padding: 5px 15px;*/
/*    border: 1px solid #000000;*/
/*}*/
/*.first th {*/
/*    background-color: teal;*/
/*    border: 1px solid white;*/
/*}*/
/*.first td {*/
/*    background-color: #fffd72;*/
/*    border: 1px solid white;*/
/*}*/
/*caption {*/
/*    margin: 10px 0;*/
/*}*/

/*.yellow {*/
/*    background-color: yellow;*/
/*}*/
/*.green {*/
/*    background-color: green;*/
/*}*/
/*.blue {*/
/*    background-color: #20b286;*/
/*}*/


/*div {*/
/*    width: 400px;*/
/*    height: 100px;*/
/*    margin: 30px;*/
/*    border: 1px solid #000000;*/
/*    text-align: center;*/
/*}*/
/*.line-grad {*/
/*    background: linear-gradient(60deg, yellow, yellowgreen, green); !* to right, to bottom *!*/
/*}*/
/*.rad-grad {*/
/*    background: radial-gradient(circle, white, cornflowerblue, blue);*/
/*}*/
/*.rad-grad-stop {*/
/*    background: radial-gradient(yellow 5%, green 35%, brown 50%);*/
/*}*/

/*.rad-grad-1 {*/
/*    background: radial-gradient(at top, #f9fff9, #681fb6);*/
/*}*/
/*.rad-grad-2 {*/
/*    display: inline-block;*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    background: radial-gradient(circle farthest-corner at 30px 60px, #FBF2EB, #352A3B);*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*}*/
/*.rad-grad-3 {*/
/*    display: inline-block;*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    background: radial-gradient(circle at 65% 15%, aqua, darkblue);*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*}*/
/*.grey-base {*/
/*    margin-top: 0;*/
/*    background-color: #636363;*/

/*}*/
/*.rad-grad-grey {*/
/*    height: 80px;*/
/*    width: 80px;*/
/*    margin-top: 10px;*/
/*    background: radial-gradient(circle at 65% 15%, #cecfd4, #636363);*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    box-shadow: -20px 10px 30px #cecfd4;*/
/*}*/

/*.repeating-gradient {*/
/*    background: repeating-radial-gradient(circle, #20d8ac, #20d8ac 10px, #17694e, #17694e 10px, #17694e 20px); !* чтоб были четкие линии *!*/
/*    !*background: repeating-radial-gradient(circle, #20d8ac, #20d8ac 10px, #17694e, #17694e 30px);  этот вариант с градуированным переходом *!*/
/*}*/
/*.text-shadow {*/
/*    background: #636363;*/
/*    color: #ffffff;*/
/*    font-size: 20px;*/
/*    font-family: sans-serif;*/
/*    text-shadow: 4px 4px lightseagreen;*/
/*}*/
/*.blur {*/
/*    text-shadow: 4px 4px 15px #20b286;*/
/*}*/
/*.complex {*/
/*    background-color: #fffb7d;*/
/*    text-shadow: 1px 1px black, 4px 4px 10px #0d583d;*/
/*}*/
/*.complex2 {*/
/*    background-color: #fff;*/
/*    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
/*}*/
/*.box-shadow {*/
/*    box-shadow: 10px 10px;*/
/*}*/
/*.box-shadow-color {*/
/*    box-shadow: 10px 10px 20px teal;*/
/*}*/
/*.rotate {*/
/*    transform: rotate(20deg);*/
/*}*/
/*.translate {*/
/*    transform:translate(10px 5px); !*сдвиг вправо по Х на 10рх и на 5 рх вниз *!*/
/*}*/
/*.scale {*/
/*    transform: scale(2, 0.8);*/
/*}*/
/*.skew {*/
/*    transform: skew(10deg,5deg);*/
/*}*/

/*!* Borders *!*/
/*.r {*/
/*    width: 100px;*/
/*}*/
/*.border1 {*/
/*    border: 2px solid #0d583d;*/
/*    border-radius: 30px/10px;*/
/*}*/
/*.border2 {*/
/*    border: 2px solid red;*/
/*    border-radius: 10px 20px 30px 40px/30px;*/
/*}*/
/*.border3 {*/
/*    border: 2px solid blueviolet;*/
/*    border-radius: 50%;*/
/*}*/
/*.border4 {*/
/*    border: 2px solid violet;*/
/*    border-top: none;*/
/*    border-bottom: none;*/
/*    border-radius: 5px/30px;*/
/*}*/
/*.border5 {*/
/*    border: 2px solid blue;*/
/*    border-bottom-left-radius: 100%;*/
/*}*/
/*.border6 {*/
/*    border: 2px solid #50ff14;*/
/*    border-top-right-radius: 100%;*/
/*    border-bottom-left-radius: 100%;*/
/*}*/
/*.border7 {*/
/*    border: 2px solid #bc140a;*/
/*    border-radius: 0 50% 50%;*/
/*}*/
/*.border8 {*/
/*    border: 2px solid blueviolet;*/
/*    border-top-left-radius: 100% 20px; border-bottom-right-radius: 100% 20px;;*/
/*}*/